TELEGRAM_BOT_TOKEN=сюда_токен_бота
TELEGRAM_ALLOWED_USER_ID=1264067528

# Секретный токен для агента (должен совпадать с VPS_API_TOKEN на ПК)
API_TOKEN=PyZnnfir9GouPxPEmqaD2ic3HiXz4DDGGI-WsIpJQak

# Порт HTTP API (агент ломится сюда)
API_PORT=8765
